{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <style>
        th {
            background-color: lightslategrey;
            text-align: center;
        }

        tr.False.depth0 {
            background-color: #a0d1de;
        }

        tr.False.depth1 {
            background-color: #dff0f5
        }

        table td input {
            width: 100%;
            box-sizing: border-box;
        }

        .tableFixHead {
            overflow: auto;
            height: 300px;
        }

        .tableFixHead thead th {
            position: sticky;
            top: 0;
            z-index: 1;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript">

        var selected_id = null;
        var selected_color = null;

        function unselectTr(trId) {
            if (selected_color)
                $('#' + trId).css('background-color', selected_color);
            else
                $('#' + trId).css('background-color', 'transparent');

            $('#btn_modify').val("추가");
            $('#id').val("");
            $('#depth').val("0");
            $('#parent').val("");
            $('#name').val("");
            $('#order').val("999");
            $('#begin_date').val("");
            $('#end_date').val("");
            $('#is_slip').prop('checked', false);
            $('#is_temporary').prop('checked', false);
            $('#deposit').val("");
        }

        $(function () {

            document.getElementById('begin_date').valueAsDate = new Date();
            var y_pos = parseInt("{{scroll_y_pos}}");
            $('div.tableFixHead').scrollTop(y_pos);

            $('#btn_reset_id').click(function (e) {
                e.stopPropagation();
                $('#id').val("");
                $('#btn_modify').val("추가");
                $('#' + selected_id).css('background-color', 'transparent');
            });

            $('#btn_make_child').click(function (e) {
                e.stopPropagation();
                var depth = parseInt($('#depth').val()) + 1;
                $('#depth').val(depth.toString());
                $('#parent').val($('#id').val());
                $('#id').val("");
                $('#btn_modify').val("추가");
                $('#' + selected_id).css('background-color', 'transparent');
            });

            $('#btn_modify').click(function (e) {
                e.stopPropagation();
                $(this).attr('disabled', true);
                $('#scroll_y_pos').val($('div.tableFixHead').scrollTop());
                $('#form_modify').submit();
            });

            $('table.list tr').click(function (e) {
                e.stopPropagation();
                if (selected_id) {
                    unselectTr(selected_id);
                }
                selected_id = $(this).attr('id');
                selected_color = $(this).css("background-color");
                if (selected_id) {
                    $(this).css('background-color', 'bisque');
                    $('#btn_modify').val("수정");

                    $('#id').val($(this).find('td.id').text());
                    $('#depth').val($(this).find('td.depth').text());
                    $('#parent').val($(this).find('td.parent').text());
                    $('#name').val($(this).find('td.name').text());
                    $('#order').val($(this).find('td.order').text());
                    $('#begin_date').val($(this).find('td.begin_date').text());
                    $('#end_date').val($(this).find('td.end_date').text());
                    $('#is_slip').prop('checked', $(this).find('td.is_slip').text() == "True");
                    $('#is_temporary').prop('checked', $(this).find('td.is_temporary').text() == "True");
                    $('#deposit').val($(this).find('td.deposit').text());
                }
            });

            $('div.list').click(function (e) {
                if (selected_id) {
                    unselectTr(selected_id);
                }
                selected_id = null;
            });
        });
    </script>
</head>

<body>
    <h3>계정과목 검색조건</h3>
    <form action="{% url 'accbook:accounts' %}" method="post" id="form_search">
        {% csrf_token %}
    </form>
    <h3>계정과목 목록</h3>
    <div class="tableFixHead" style="padding-bottom: 30px;">
        <table class="list">
            <thead>
                <tr>
                    <th width="40">id</th>
                    <th width="40">depth</th>
                    <th width="40">부모id</th>
                    <th width="100">계정과목1</th>
                    <th width="30">순서</th>
                    <th width="150">계정과목2</th>
                    <th width="30">순서</th>
                    <th width="200">계정과목3</th>
                    <th width="30">순서</th>
                    <th width="80">시작날짜</th>
                    <th width="80">종료날짜</th>
                    <th width="40">전표생성가능</th>
                    <th width="40">일회성</th>
                    <th width="40">계좌id</th>
                    <th>비고</th>
                </tr>
            </thead>
            <tbody>
                {% for item in list %}
                <tr class="{{item.is_slip}} depth{{item.depth}}" id="{{item.id}}">
                    <td class="id" style="text-align: center;">{{item.id}}</td>
                    <td class="depth" style="text-align: center;">{{item.depth}}</td>
                    <td class="parent" style="text-align: center;">{{item.parent|default_if_none:''}}</td>
                    {% if item.depth == 0 %}
                    <td class="name">{{item.name}}</td>
                    <td class="order" style="text-align: center;">{{item.order}}</td>
                    {% else %}
                    <td></td>
                    <td></td>
                    {% endif %}
                    {% if item.depth == 1 %}
                    <td class="name">{{item.name}}</td>
                    <td class="order" style="text-align: center;">{{item.order}}</td>
                    {% else %}
                    <td></td>
                    <td></td>
                    {% endif %}
                    {% if item.depth == 2 %}
                    <td class="name">{{item.name}}</td>
                    <td class="order" style="text-align: center;">{{item.order}}</td>
                    {% else %}
                    <td></td>
                    <td></td>
                    {% endif %}
                    <td class="begin_date" style="text-align: center;">{{item.begin_date|date:"Y-m-d"}}</td>
                    <td class="end_date" style="text-align: center;">{{item.end_date|date:"Y-m-d"}}</td>
                    <td class="is_slip" style="text-align: center;">{{item.is_slip}}</td>
                    <td class="is_temporary" style="text-align: center;">{{item.is_temporary}}</td>
                    <td class="deposit" style="text-align: center;">{{item.deposit.id|default_if_none:''}}</td>
                    <td>
                        {% if item.deposit %}
                        {{item.deposit.name}}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <h3>계정과목 수정</h3>
    <form action="{% url 'accbook:accounts_modify' %}" method="post" id="form_modify">
        {% csrf_token %}
        <input type="hidden" id="scroll_y_pos" name="scroll_y_pos">
        <table>
            <tr>
                <th width="50">id</th>
                <th width="50">depth</th>
                <th width="50">부모id</th>
                <th width="300">이름</th>
                <th width="50">순서</th>
                <th width="80">시작날짜</th>
                <th width="80">종료날짜</th>
                <th width="80">전표생성가능</th>
                <th width="50">일회성</th>
                <th width="70">계좌id</th>
                <th></th>
            </tr>
            <tr>
                <td>
                    <input type="text" id="id" name="id" readonly>
                </td>
                <td>
                    <input type="text" id="depth" name="depth">
                </td>
                <td>
                    <input type="text" id="parent" name="parent">
                </td>
                <td>
                    <input type="text" id="name" name="name" value="">
                </td>
                <td>
                    <input type="text" id="order" name="order" value="999">
                </td>
                <td>
                    <input type="date" id="begin_date" name="begin_date">
                </td>
                <td>
                    <input type="date" id="end_date" name="end_date">
                </td>
                <td>
                    <input type="checkbox" id="is_slip" name="is_slip">
                </td>
                <td>
                    <input type="checkbox" id="is_temporary" name="is_temporary" value="ch">
                </td>
                <td>
                    <input type="text" id="deposit" name="deposit" value="">
                </td>
                <td></td>
            </tr>
        </table>
        <div style="margin-top: 10px;">
            <input type="button" id="btn_reset_id" value="id초기화">
            <input type="button" id="btn_make_child" value="자식으로 만들기">
            <input type="button" id="btn_modify" value="추가">
        </div>
    </form>
</body>

</html>