{% extends 'base.html' %}
{% load common_filter %}

{% block style %}
<style>
    th {
        background-color: lightslategrey;
        text-align: center;
    }

    tr.state_해지 {
        background-color: grey;
    }

    td.exp_true {
        background-color: coral;
    }
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">

    function LoadList(scrollBotton) {
        $.ajax({
            type: "POST",
            url: "{% url 'accbook:deposit_list' %}",
            data: {},
            dataType: "json",
            success: function (response) {
                if (response.result == "Success") {
                    scroll_y_pos = $('#div_data').scrollTop();
                    $('#table_list tbody').empty();
                    $('#slip_count').text(response.list.length);
                    $.each(response.list, function (index, item) {
                        var tr = $(`<tr class="state_${item.state}"></tr>`);
                        tr.append($(`<td class="text-center">${item.id}</td>`));
                        tr.append($(`<td class="text-center">${item.order}</td>`));
                        tr.append($(`<td>${item.fn_inst}</td>`));
                        tr.append($(`<td>${item.name}</td>`));
                        tr.append($(`<td>${item.number}</td>`));
                        tr.append($(`<td class="text-center">${item.type}</td>`));
                        tr.append($(`<td class="text-center">${item.is_protected}</td>`));
                        tr.append($(`<td class="text-center">${item.state}</td>`));
                        tr.append($(`<td class="text-center">${item.interest_rate}</td>`));
                        tr.append($(`<td class="text-center">${item.begin_date}</td>`));
                        tr.append($(`<td class="text-center">${item.end_date}</td>`));
                        tr.append($(`<td class="text-center exp_${item.is_expiration_coming}">${item.expiration_date}</td>`));
                        tr.append($(`<td>${item.description}</td>`));
                        tr.append($(`<td></td>`));

                        $('#table_list tbody').append(tr);
                    });

                    if (scrollBotton)
                        $('#div_data').scrollTop(10000);
                    else
                        $('#div_data').scrollTop(scroll_y_pos);
                }
                else { alert(response.result); }
            },
            error: function (request, status, error) { alert(error); },
        });
    }

    $(function () {
        LoadList();

        $('#btn_increase_order').click(function () {
            var form_data = $("#form_increase_order").serialize();
            $.ajax({
                type: "POST",
                url: "{% url 'accbook:increase_order' %}",
                data: form_data,
                dataType: "json",
                success: function (response) {
                    if (response.result == "Success") {
                        LoadList();
                    }
                    else { alert(response.result); }
                },
                error: function (request, status, error) { alert(error); },
            });
        });
    });
</script>
{% endblock %}

{% block contents %}
<div class="row">
    <h3>계좌 검색조건</h3>
</div>
<div class="row">
    <form action="{% url 'accbook:deposits' %}" method="post" id="form_search">
        {% csrf_token %}
    </form>
</div>
<div class="row">
    <h3>계좌 목록</h3>
</div>
<div class="row">
    <div id="div_data" class="overflow-auto" style="height: 1000px;">
        <table id="table_list" class="table table-bordered table-sm">
            <thead class="table-light align-middle text-center" style="position: sticky; top: 0; z-index: 1;">
                <tr>
                    <th width="40">id</th>
                    <th width="30">순서</th>
                    <th width="150">금융기관</th>
                    <th width="250">계좌명</th>
                    <th width="130">계좌번호</th>
                    <th width="80">종류</th>
                    <th width="50">예금자보호</th>
                    <th width="60">상태</th>
                    <th width="50">이율</th>
                    <th width="80">개설일</th>
                    <th width="80">해지일</th>
                    <th width="80">만기일</th>
                    <th width="200">설명</th>
                    <th>비고</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<form id="form_increase_order" action="{% url 'accbook:increase_order' %}" method="post">
    {% csrf_token %}
    <div class="row mt-4">
        <div class="col col-auto">
            <input type="hidden" name="target" value="Deposit">
            <input type="text" name="begin_order">
        </div>
        <div class="col col-auto">
            <input type="button" id="btn_increase_order" class="form-control btn-secondary" style="width: 100px;" value="순서 증가">
        </div>
    </div>
</form>
{% endblock %}