{% extends 'base.html' %}
{% block contents %}
{% if user.is_authenticated %}
<p><a href="{% url 'accbook:monthly' %}">월별 관리</a></p>
<p><a href="{% url 'accbook:annual' %}">연간 통계</a></p>
<p><a href="{% url 'accbook:accounts' %}">계정과목 관리</a></p>
<p><a href="{% url 'accbook:deposits' %}">계좌 관리</a></p>
<p><a href="{% url 'accbook:creditcard' %}">카드 관리</a></p>
<p><a href="{% url 'accbook:fn_prod' %}">금융상품 목록</a></p>
<p><a href="{% url 'accbook:fn_trade' %}">금융상품 거래 내역</a></p>
{% else %}
로그인 하세요.
{% endif %}
{% endblock %}
