{% extends 'base.html' %}
{% load humanize %}
{% load common_filter %}
{% load accbook_filter %}

{% block style %}
<style>
    .f_c_amount, .f_d_amount {
        text-align: right;
    }
    .amount {
        text-align: right;
    }
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    var select_account_id = -1;
    var select_account_name = "";
    var select_account_is_slip = false;
    var popup_caller_id = null;
    var popup_caller_is_debit = false;
    var f_d_sum = 0;
    var f_c_sum = 0;

    function FillAccountSelect(depth, parent_id, is_debit) {
        $.ajax({
            type: "POST",
            url: "{% url 'accbook:account_list' %}",
            data: { 'parent_id': parent_id, 'depth': depth, 'is_debit': is_debit },
            dataType: "json",
            success: function (response) {
                var id = '#account' + depth;
                if (response.result == "Success") {
                    if (0 < response.list.length) {
                        $.each(response.list, function (index, item) {
                            var is_slip = "";
                            if (item.is_slip) {
                                is_slip = "slip=\"1\"";
                            }
                            option = $('<option value="' + item.id + '" ' + is_slip + '>' + item.name + '</option>');
                            $(id).append(option);
                        });
                    }
                    else {
                        option = $('<option value="">없음</option>');
                        $(id).append(option);
                    }
                }
                else { alert(response.result); }
            },
            error: function (request, status, error) { alert(error); },
        });
    }

    function checkAmount() {
        if (f_d_sum != f_c_sum) {
            $('#f_d_sum').removeClass('table-success');
            $('#f_c_sum').removeClass('table-success');
            $('#f_d_sum').addClass('table-danger');
            $('#f_c_sum').addClass('table-danger');
        }
        else {
            $('#f_d_sum').removeClass('table-danger');
            $('#f_c_sum').removeClass('table-danger');
            $('#f_d_sum').addClass('table-success');
            $('#f_c_sum').addClass('table-success');
        }
    }

    $(function () {
        var date_utc = new Date();
        var date_local = new Date(date_utc.getTime() - (date_utc.getTimezoneOffset()*60*1000));
        var now_str = date_local.toISOString();
        $('#f_date').val(now_str.substr(0, 16));

        $('.f_d_amount').change(function () {
            f_d_sum = 0
            $('.f_d_amount').each(function () {
                var val = parseInt(uncomma($(this).val()));
                if (!isNaN(val))
                    f_d_sum += val;
            });
            $('#f_d_sum').text(f_d_sum.toLocaleString());
            checkAmount();
        });

        $('.f_c_amount').change(function () {
            f_c_sum = 0
            $('.f_c_amount').each(function () {
                var val = parseInt(uncomma($(this).val()));
                if (!isNaN(val))
                    f_c_sum += val;
            });
            $('#f_c_sum').text(f_c_sum.toLocaleString());
            checkAmount();
        });

        $('#form_register').submit(function (e) {
            if (f_d_sum != f_c_sum) {
                alert('차변과 대변의 합계가 일치하지 않습니다.')
                e.preventDefault();
            }
            $('.f_account').each(function () {
                $(this).val($(this).attr('account'));
            });
            $('.f_amount').each(function () {
                var val = uncomma($(this).val());
                $(this).val(val);
            });
        });

        $('.f_account').click(function () {
            popup_caller_id = $(this).attr("id");
            popup_caller_is_debit = $(this).hasClass('f_d_account');
            $('#account0').empty();
            $('#account1').empty();
            $('#account2').empty();
            FillAccountSelect(0, null, popup_caller_is_debit);
            $('#popup_account').modal('show');
        });

        $('.select_account').change(function () {
            var depth = parseInt($(this).attr("depth"));
            for (let i = depth + 1; i < 3; i++) {
                var id = '#account' + i;
                $(id).empty();
            }
            select_account_id = $(this).val();
            select_account_name = $(this).find(":selected").text();
            select_account_is_slip = $(this).find(":selected").attr("slip");
            if (depth < 2)
                FillAccountSelect(depth + 1, select_account_id, popup_caller_is_debit);
        });

        $("#popup_account").on("hidden.bs.modal", function (event) {
        });

        $('#btn_select').click(function () {
            if (popup_caller_id && select_account_is_slip) {
                $('#' + popup_caller_id).val(select_account_name);
                $('#' + popup_caller_id).attr('account', select_account_id);
            }
        });

        $('#btn_reset').click(function () {
            if (popup_caller_id) {
                $('#' + popup_caller_id).val('');
                $('#' + popup_caller_id).attr('account', '');
            }
        });
    });
</script>
{% endblock %}

{% block contents %}
<form action="{% url 'accbook:monthly' %}" method="post" id="form_register">
    {% csrf_token %}
    <input type="hidden" name="acc_month" value="{{acc_month}}">
    <div class="container my-4">
        <div class="row align-items-middle">
            <div class="col-auto">
                <h4>2022년 {{acc_month}}월</h4>
            </div>
            <div class="col">
                ({{date_today}})
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered table-sm align-middle">
                    <thead class="table-light align-middle">
                        <tr>
                            <th rowspan="2" style="width: 50px;">날짜</th>
                            <th rowspan="2">내용</th>
                            <th rowspan="2" style="width: 150px;">거래처</th>
                            <th colspan="2">차변</th>
                            <th colspan="2">대변</th>
                        </tr>
                        <tr>
                            <th style="width: 180px;">계정</th>
                            <th style="width: 100px;">금액</th>
                            <th style="width: 180px;">계정</th>
                            <th style="width: 100px;">금액</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% for slip in slip_list %}
                        {% for debit, credit in slip.debits|zip:slip.credits %}
                        <tr>
                            {% if forloop.first %}
                            <td rowspan="{{slip.rows}}">{{slip.slip.date|date:"m-d"}}</td>
                            <td rowspan="{{slip.rows}}">{{slip.slip.desc}}</td>
                            <td rowspan="{{slip.rows}}">{{slip.slip.target}}</td>
                            {% endif %}
                            {% if debit %}
                            <td>{{debit.account_name}}</td>
                            <td class="amount">{{debit.amount|intcomma}}</td>
                            {% else %}
                            <td class="table-secondary"></td>
                            <td class="table-secondary"></td>
                            {% endif %}
                            {% if credit %}
                            <td>{{credit.account_name}}</td>
                            <td class="amount">{{credit.amount|intcomma}}</td>
                            {% else %}
                            <td class="table-secondary"></td>
                            <td class="table-secondary"></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container my-4">
        <div class="row">
            <div class="col">
                <h5>전표 등록</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered table-sm">
                    <thead class="table-light">
                        <tr class="align-middle">
                            <th rowspan="2" style="width: 150px;">날짜</th>
                            <th rowspan="2">내용</th>
                            <th rowspan="2" style="width: 150px;">거래처</th>
                            <th colspan="2">차변</th>
                            <th colspan="2">대변</th>
                        </tr>
                        <tr>
                            <th style="width: 180px;">계정</th>
                            <th style="width: 100px;">금액</th>
                            <th style="width: 180px;">계정</th>
                            <th style="width: 100px;">금액</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in '12345'|make_list %}
                        <tr>
                            {% if forloop.first %}
                            <td rowspan="6"><input type="datetime-local" id="f_date" name="f_date" class="form-control">
                            </td>
                            <td rowspan="6"><input type="text" id="f_desc" name="f_desc" class="form-control"></td>
                            <td rowspan="6"><input type="text" id="f_target" name="f_target" class="form-control"></td>
                            {% endif %}
                            <td><input type="text" id="f_d_account{{i}}" name="f_d_account[]" class="form-control f_account f_d_account"
                                    readonly></td>
                            <td><input type="text" id="f_d_amount{{i}}" name="f_d_amount[]" class="form-control f_amount f_d_amount" onkeyup="inputNumberComma(this)">
                            </td>
                            <td><input type="text" id="f_c_account{{i}}" name="f_c_account[]" class="form-control f_account f_c_account"
                                    readonly></td>
                            <td><input type="text" id="f_c_amount{{i}}" name="f_c_amount[]" class="form-control f_amount f_c_amount" onkeyup="inputNumberComma(this)">
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td id="f_d_sum" class="amount table-success">0</td>
                            <td></td>
                            <td id="f_c_sum" class="amount table-success">0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col col-sm-auto">
                <input type="submit" id="f_submit" class="btn btn-primary btn-lg" value="등록">
            </div>
        </div>
    </div>
</form>

<!-- Modal -->
<div class="modal" id="popup_account" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">계정과목 선택</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th style="width: 30%;">계정과목1</th>
                            <th style="width: 35%;">계정과목2</th>
                            <th style="width: 35%;">계정과목3</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select id="account0" class="form-control select_account" depth="0" size="10">
                                </select>
                            </td>
                            <td>
                                <select id="account1" class="form-control select_account" depth="1" size="10">
                                </select>
                            </td>
                            <td>
                                <select id="account2" class="form-control select_account" depth="2" size="10">
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_reset" class="btn btn-secondary" data-bs-dismiss="modal">초기화</button>
                <button type="button" id="btn_select" class="btn btn-primary btn-lg" data-bs-dismiss="modal">선
                    택</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}