{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body>
    <div>
        <form action="{% url 'realestate:item_modify2' item.id %}" method="post">
            {% csrf_token %}
            <div style="margin-top: 10px;"><textarea name="memo" id="memo" rows="5" style="width: 100%; max-width: 100%;">{{item.memo}}</textarea></div>
            <div style="margin-top: 10px;"><input type="submit" value="수정"></div>
        </form>
    </div>
    <div>
        <div>사진({{image_list|length}}개)</div>
        <div>
            {% for image in image_list %}
            <a href="{% static 'pic/realestate/' %}{{item.file_prefix}}/{{image}}" target="_blank">
                <img src="{% static 'pic/realestate/' %}{{item.file_prefix}}/{{image}}" style="max-width: 150px; max-height: 150px; width: auto; height: auto;">
            </a>
            {% endfor %}
        </div>
    </div>
    <div>
        <div>첨부파일({{file_list|length}}개)</div>
        <div>
            {% for file in file_list %}
            <a href="{% static 'file/realestate/' %}{{item.file_prefix}}/{{file}}" target="_blank">{{file}}</a>
            {% endfor %}
        </div>
    </div>
</body>

</html>