{% load static %}
{% load humanize %}
{% load realestate_filter %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <style>
            th { text-align: center; }
            span.info_col_name { width: 80px; display: inline-block; }
        </style>
    </head>
    <body>
        <p>
            연면적 147.67 (44.7평)
            건축면적 59.57 (18평)
            지하1층 41.79 (12.7평)
            1층 59.57 (18평)
            2층 46.31 (14평)
            벽돌조
            사용승인일 1980.12.03.

        </p>
        <table>
            <tr>
                <th width="30">id</th>
                <th width="150">사진</th>
                <th width="330">매물정보</th>
                <th width="350">기본정보</th>
                <th>메모</th>
            </tr>
            {% for item in list %}
            {% if item.realestate.deal_date %}
            <tr style="background-color: darkgray;">
            {% else %}
            <tr>
            {% endif %}
                <td style="text-align: center;">
                    <a href="/realestate/{{item.realestate.id}}/">{{item.realestate.id}}</a>
                </td>
                <td>
                    <img src="{% static 'pic/realestate/' %}{{item.realestate.file_prefix}}.png" style="max-width: 150px; max-height: 150px; width: auto; height: auto;">
                </td>
                <td style="text-align: center;">
                    {% for myitem in item.mylist %}
                    <div>
                        <span style="width: 80px; display: inline-block;"><a href="https://new.land.naver.com/houses?articleNo={{myitem.article_no}}" target="_blank">{{myitem.article_no}}</a></span>
                        <span style="font-size: smaller; width: 50px; display: inline-block;"><a href="/realestate/json/{{myitem.article_no}}/" target="_blank">({{myitem.article_confirm_ymd}})</a></span>
                        <span style="width: 80px; text-align: right; display: inline-block;">{{myitem.price|intcomma}}만원</span>
                        <span style="font-size: smaller; width: 70px; display: inline-block;">({{myitem.price|pricepyungd:item.realestate.area|intcomma}}만원/평)</span>
                        <span style="font-size: smaller; width: 20px; display: inline-block;">({{myitem.price|priceratio2:item.realestate.declared_value}}%)</span>
                    </div>
                    {% endfor %}
                    {% if item.realestate.deal_date %}
                    <div style="margin-top: 5px; font-weight: bold;">
                        실거래가 : {{item.realestate.deal_price|manwon|intcomma}}만원 ({{item.realestate.deal_date}})
                        <span style="font-size: smaller;">({{item.realestate.deal_price|priceratio:item.realestate.declared_value}}%)</span>
                    </div>
                    {% endif %}
                </td>
                <td>
                    <div>
                        <span class="info_col_name">지번 주소</span>
                        <span><a href="https://map.naver.com/v5/search/{{item.realestate.address_jibun}}" target="_blank">{{item.realestate.address_jibun}}</a></span>
                    </div>
                    <div>
                        <span class="info_col_name">도로명 주소</span>
                        <span><a href="https://map.naver.com/v5/search/{{item.realestate.address_road}}" target="_blank">{{item.realestate.address_road}}</a></span>
                    </div>
                    <div>
                        <span class="info_col_name">대지면적</span>
                        <span>{{item.realestate.area}}㎡ ({{item.realestate.area|pyungd|floatformat}}평)</span>
                    </div>
                    <div>
                        <span class="info_col_name">건축면적</span>
                        <span>{{item.realestate.building_area}}㎡ ({{item.realestate.building_area|pyungd|floatformat}}평)</span>
                    </div>
                    <div>
                        <span class="info_col_name">연 면 적</span>
                        <span>{{item.realestate.total_floor_area}}㎡ ({{item.realestate.total_floor_area|pyungd|floatformat}}평)</span>
                    </div>
                    <div>
                        <span class="info_col_name">사용승인일</span>
                        <span>{{item.realestate.use_approval_date}}</span>
                    </div>
                    <div>
                        <span class="info_col_name">주구조</span>
                        <span>{{item.realestate.structure}}</span>
                    </div>
                    <div>
                        <span class="info_col_name">난방방식</span>
                        <span>{{item.realestate.heating}}</span>
                    </div>
                    <div>
                        <span class="info_col_name">하수처리</span>
                        <span>{{item.realestate.sewage}}</span>
                    </div>
                    <div>
                        <span class="info_col_name">공시가격</span>
                        <span>{{item.realestate.declared_value|manwon|intcomma}}만원</span>
                    </div>
                </td>
                <td>{{item.realestate.memo|mark}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>