{% load static %}
{% load humanize %}
{% load realestate_filter %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <style>
            th { text-align: center;}
        </style>
    </head>
    <body>
        <p>
            연면적 147.67 (44.7평)
            건축면적 59.57 (18평)
            지하1층 41.79 (12.7평)
            1층 59.57 (18평)
            2층 46.31 (14평)
            벽돌조
            사용승인일 1980.12.03.

        </p>
        <table>
            <tr>
                <th width="30">id</th>
                <th width="150">사진</th>
                <th width="90">글번호</th>
                <th width="90">등록일</th>
                <th width="100">가격</th>
                <th width="300">주소</th>
                <th>메모</th>
            </tr>
            {% for item in list %}
            <tr>
                <td style="text-align: center;">
                    <a href="/realestate/{{item.id}}/">{{item.id}}</a>
                </td>
                {% if item.count > 0 %}
                <td rowspan="{{item.count}}">
                    <img src="{% static 'pic/realestate/' %}{{item.article_no}}.png" style="max-width: 150px; max-height: 150px; width: auto; height: auto;">
                </td>
                {% endif %}
                <td style="text-align: center;">
                    <a href="https://new.land.naver.com/houses?articleNo={{item.article_no}}" target="_blank">{{item.article_no}}</a>
                </td>
                <td style="text-align: center;">{{item.article_confirm_ymd}}</td>
                <td style="text-align: right;">
                    <div>{{item.price|intcomma}}만원</div>
                    <div style="font-size: smaller;">({{item.price_per_area|intcomma}}만원/평)</div>
                </td>
                {% if item.count > 0 %}
                <td rowspan="{{item.count}}">
                    <div>
                        <a href="https://map.naver.com/v5/search/{{item.address}}" target="_blank">{{item.address}}</a>
                    </div>
                    <div style="margin-top: 5px;">대지면적 : {{item.area}}㎡ ({{item.area|pyung|floatformat}}평)</div>
                    <div>건축면적 : {{item.building_area}}㎡ ({{item.building_area|pyung|floatformat}}평)</div>
                    <div>연 면 적 : {{item.total_floor_area}}㎡ ({{item.total_floor_area|pyung|floatformat}}평)</div>
                </td>
                {% endif %}
                {% if item.count > 0 %}
                <td rowspan="{{item.count}}">{{item.memo|mark}}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>