{% load static %}
{% load humanize %}
{% load realestate_filter %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <style>
        </style>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="{% static 'js/common.js' %}"></script>
        <script type="text/javascript">
            $(function(){
                $('#btn_dandok').click(function() {
                    $('#DDDGG').prop("checked", true);
                    $('#JWJT').prop("checked", true);
                    $('#HOJT').prop("checked", true);
                    $('#TJ').prop("checked", false);
                    $('#building_type_ddonly').prop("checked", true);
                    $('#name_except_filter').val('다가구,원룸')
                });
                $('#btn_daeji').click(function() {
                    $('#DDDGG').prop("checked", false);
                    $('#JWJT').prop("checked", false);
                    $('#HOJT').prop("checked", false);
                    $('#TJ').prop("checked", true);
                    $('#building_type_ddonly').prop("checked", false);
                    $('#name_except_filter').val('전,답,임야,과수원')
                });
                $('#btn_submit').click(function() {
                    $('#page').attr('value', 1)
                    $('#form_search').submit();
                });
                $('#btn_prev').click(function() {
                    var cur_page = parseInt($('#page').attr('value'), 10);
                    $('#page').attr('value', cur_page-1)
                    $('#form_search').submit();
                });
                $('#btn_next').click(function() {
                    var cur_page = parseInt($('#page').attr('value'), 10);
                    $('#page').attr('value', cur_page+1)
                    $('#form_search').submit();
                });

                $('.btn_check').click(function() {
                    var article_no = $(this).attr('name');
                    $.ajax({
                        type: "POST",
                        url: "{% url 'realestate:check' %}",
                        data: { 'article_no': article_no },
                        dataType: "json",
                        success: function(response) {
                            if (response.result == "Success") {
                                $('#btn_check_'+article_no).css("display", "None");
                            }
                            else {
                                alert(response.result);
                            }
                        },
                        error: function(request, status, error) {
                            alert(error);
                        },
                    });
                });

                $('.btn_favorite').click(function() {
                    var article_no = $(this).attr('name');
                    $.ajax({
                        type: "POST",
                        url: "{% url 'realestate:favorite' %}",
                        data: { 'article_no': article_no },
                        dataType: "json",
                        success: function(response) {
                            if (response.result == "Success") {
                                $('#btn_check_'+article_no).css("display", "None");
                                $('#btn_favorite_'+article_no).css("display", "None");
                                $('#tr_'+article_no).css("background-color", "burlywood");
                            }
                            else {
                                alert(response.result);
                            }
                        },
                        error: function(request, status, error) {
                            alert(error);
                        },
                    });
                });

                $('.btn_multi').click(function() {
                    var article_no = $(this).attr('name');
                    var is_multi_family = $(this).attr('data-value');
                    $.ajax({
                        type: "POST",
                        url: "{% url 'realestate:multi' %}",
                        data: { 'article_no': article_no, 'is_multi_family': is_multi_family },
                        dataType: "json",
                        success: function(response) {
                            if (response.result == "Success") {
                                $('#btn_check_'+article_no).css("display", "None");
                                $('#div_multi_'+article_no).css("display", "None");
                            }
                            else {
                                alert(response.result);
                            }
                        },
                        error: function(request, status, error) {
                            alert(error);
                        },
                    });
                });
            });
        </script>
    </head>
    <body>
        <div>
            <form action="{% url 'realestate:naver' %}" method="post" id="form_search">
                {% csrf_token %}
                <label>
                    <span>지역</span>
                    <select name="location">
                        {% for item in location_code_list %}
                        {% if cur_location == item.code %}
                        <option value="{{item.code}}" selected="selected">{{item.location}}</option>
                        {% else %}
                        <option value="{{item.code}}">{{item.location}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </label>
                <fieldset style="margin-top: 10px;">
                    <legend>부동산 종류</legend>
                    <div>
                        {% for item in building_type_list.items %}
                        <label>
                            <span>{{item.0}}</span>
                            {% if item.1 in building_types %}
                            <input type="checkbox" id="{{item.1}}" name="building_type" value="{{item.1}}" checked>
                            {% else %}
                            <input type="checkbox" id="{{item.1}}" name="building_type" value="{{item.1}}">
                            {% endif %}
                        </label>
                        {% endfor %}
                    </div>
                    <div>
                        <label>
                            <span>단독만</span>
                            {% if is_building_type_ddonly %}
                            <input type="checkbox" id="building_type_ddonly" name="building_type_ddonly" value="DDONLY" checked>
                            {% else %}
                            <input type="checkbox" id="building_type_ddonly" name="building_type_ddonly" value="DDONLY">
                            {% endif %}
                        </label>
                    </div>
                </fieldset>
                <div style="margin-top: 10px;">
                    <label>
                        <span>준공연도</span>
                        <input type="number" name="recently_build_years" value="{{recently_build_years}}" style="width: 40px;">년
                        ~
                        <input type="number" name="old_build_years" value="{{old_build_years}}" style="width: 40px;">년
                        이내
                    </label>
                </div>
                <div style="margin-top: 10px;">
                    <label>
                        <span>제목 제외 필터</span>
                        <input type="text" id="name_except_filter" name="name_except_filter" value="{{name_except_filter}}" style="width: 300px;">
                    </label>
                </div>
                <div style="margin-top: 10px;">
                    <label>
                        <span>특정 매물 확인</span>
                        <input type="text" name="article_no" value="" style="width: 300px;">
                    </label>
                </div>
                <div style="margin-top: 10px;">
                    <span>
                        <input type="button" id="btn_dandok" value="단독주택">
                    </span>
                    <span>
                        <input type="button" id="btn_daeji" value="대지">
                    </span>
                </div>
                <div style="margin-top: 10px;">
                    <input type="button" id="btn_submit" value="검색">
                </div>
                <div>
                    <input type="hidden" id="page" name="page" value="{{page}}">
                    {% if page > 1 %}
                    <input type="button" id="btn_prev" value="이전 페이지">
                    {% endif %}
                    {{page}}페이지
                    {% if is_more_data %}
                    <input type="button" id="btn_next" value="다음 페이지">
                    {% endif %}
                </div>
            </form>
        </div>
        <div>
            <table>
                <tr>
                    <th style="width: 50px; text-align: center;">액션</th>
                    <th style="width: 90px; text-align: center;">글번호</th>
                    <th style="width: 80px; text-align: center;">제목</th>
                    <th style="width: 90px; text-align: center;">가격</th>
                    <th style="width: 120px; text-align: center;">정보</th>
                    <th style="width: 270px; text-align: center;">주소</th>
                    <th style="text-align: center;">설명</th>
                </tr>
                {% if list %}
                {% for item in list %}
                {% if item.is_favorite %}
                <tr id="tr_{{item.id}}" style="background-color: burlywood;">
                {% else %}
                <tr id="tr_{{item.id}}">
                {% endif %}
                    <td>
                        {% if item.is_new %}
                        <div>
                            <input type="button" id="btn_check_{{item.id}}" class="btn_check" name="{{item.id}}" value="확인">
                        </div>
                        {% endif %}
                        {% if item.is_favorite == False %}
                        <div>
                            <input type="button" id="btn_favorite_{{item.id}}" class="btn_favorite" name="{{item.id}}" value="관심">
                        </div>
                        {% endif %}
                        {% if item.is_multi_family is None %}
                        <div id="div_multi_{{item.id}}">
                            <input type="button" class="btn_multi" name="{{item.id}}" data-value="False" value="단독">
                            <input type="button" class="btn_multi" name="{{item.id}}" data-value="True" value="다가구">
                        </div>
                        {% endif %}
                    </td>
                    <td style="text-align: center;"><a href="https://new.land.naver.com/houses?articleNo={{item.id}}" target="_blank">{{item.id}}</a></td>
                    <td style="text-align: center;">{{item.name}}<br>({{item.subname}})</td>
                    <td style="text-align: right;">
                        <div>{{item.price|intcomma}}만원</div>
                        <div style="font-size: smaller;">({{item.initial_price}})</div>
                    </td>
                    <td>
                        {{item.all_ho_count}}세대<br>
                        대지:{{item.area}}㎡<br>
                        건축면적:{{item.building_area}}㎡<br>
                        연면적:{{item.total_floor_area}}㎡<br>
                        연식:{{item.build_years}}년
                    </td>
                    <td>
                        <a href="https://map.naver.com/v5/search/{{item.address}}" target="_blank">{{item.address}}</a>
                        {% if item.is_location_address %}
                        <br>(좌표 추정 주소)
                        {% endif %}
                    </td>
                    <td><p>{{item.description|linebreaks}}</p><p>{{item.detailDescription|linebreaks}}</p></td>
                </tr>
                {% endfor %}
                {% endif %}
            </table>
        </div>
    </body>
</html>